/courses/Foundation/web-architecture-101/presentation/web-architecture-101.pdf linguist-generated=true
/courses/Foundation/web-architecture-101/presentation/web-architecture-101.zip linguist-generated=true
